body{
	background: rgb(98,111,156);
background: linear-gradient(90deg, rgba(98,111,156,1) 0%, rgba(14,43,99,1) 100%);
	font-family: sans-serif;
}

.kalkulator{
	width: 250px;
	background: rgb(28,32,244);
    background: linear-gradient(90deg, rgba(28,32,244,1) 0%, rgba(99,208,205,1) 100%);
	margin: 50px auto;
	margin-top: 200px;
	padding: 10px 30px 40px 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 2px #d6e9e9;
}

.kol{
	width: 260px;
	margin: 2px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 5px;	

}	