body{
	background: rgb(98,111,156);
background: linear-gradient(90deg, rgba(98,111,156,1) 0%, rgba(14,43,99,1) 100%);
	font-family: sans-serif;
}
 
.kalkulator{
	width: 335px;
	background: rgb(28,32,244);
    background: linear-gradient(90deg, rgba(28,32,244,1) 0%, rgba(99,208,205,1) 100%);
	margin: 100px auto;
	padding: 5px 0px 40px 20px;
	border-radius: 15px;
	box-shadow: 8px 8px 8px 2px #d6e9e9;
}

hr{
	width: 200px;
	border-top: 1px solid #999;
}
 
.kolom{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}
 
.opt{
	font-size: 16pt;
	border: none;
	width: 100px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}
 
.tombol{
	background: #EC5159;
	border-top: none;
	border-right: 10px;
	border-left: none;
	border-radius: 5px;
	padding: 10px 77px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #BF3D3D;

}
 
.brand{
	color: #eee;
	font-size: 11pt;
	float: right;
	text-decoration: none;
	margin: 12px;
}
 
.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}